{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    $('textarea').addClass('span6').wysihtml5();

    $('#preview_video').click(function() {
        var video_id = $('#id_video').val();
        if ( /[A-Za-z0-9-_]{11}/.test(video_id) == true ) {
            var params = { allowScriptAccess: "always" };
            var atts = { id: "modal_player", 'wmode': 'opaque' };
            $('body').append(
                '<div class="modal fade" id="preview_modal"><div class="modal-header">' +
                '<a class="close" data-dismiss="modal">x</a><h3>Video Preview</h3>' +
                '</div><div class="modal-body">' +
                '<div id="video_preview_div">Loading...</div>' +
                '</div></div>'
            );
            swfobject.embedSWF("http://www.youtube.com/v/" + video_id + "?version=3&enablejsapi=1&playerapiid=player1", "video_preview_div", "480", "295", "9", null, null, params, atts);
        } else {
            $('body').append(
                '<div class="modal fade" id="preview_modal"><div class="modal-header">' +
                '<a class="close" data-dismiss="modal">x</a><h3>Video Preview</h3>' +
                '</div><div class="modal-body">' +
                '<p>Please use a valid YouTube video id. It should be 11 characters long, and located in the url ' +
                'for your video. e.g. http://www.youtube.com/watch?v=VIDEO_ID</p>' +
                '</div></div>'
            );
        }
        $('#preview_modal').modal('show');
        $('#preview_modal').on('hidden', function () {
            $(this).remove();
        });
    });
});
</script>

<h2>Create New Submission</h2>

<form class="form-horizontal" action="{{ form_action }}" method="post">
{% csrf_token %}

{% include "form_template.html" with form=form %}

<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<a class="btn" id="preview_video">Preview Video</a>
</div>
</form>

{% endblock %}

