{% extends "base.html" %}

{% block content %}

{% if not content %}
<div class="page-header">
<h1>Welcome, {{ user }}</h1>
</div>

<p>Use the forms below to change your account information as needed.</p>

<div class="tabbable">
<ul class="nav nav-tabs">

<li class="active"><a href="#1" data-toggle="tab">Password</a></li>
<li class=""><a href="#2" data-toggle="tab">Display Name</a></li>

</ul> <!-- .nav nav-tabs -->
<div class="tab-content">

<div class="tab-pane active" id="1">
<h3>Change Password</h3>
<form class="form-horizontal" action="{% url account %}" method="post">
{% csrf_token %}
{% include "form_template.html" with form=password_form %}
<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
</div>
</form>
</div> <!-- #1 -->

<div class="tab-pane" id="2">
<h3>Change Display Name</h3>
<form class="form-horizontal" action="{% url account %}" method="post">
{% csrf_token %}
{% include "form_template.html" with form=username_form %}
<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
</div>
</form>
</div> <!-- #2 -->

</div> <!-- .tab-content -->
</div> <!-- .tabbable .tabs-left -->

{% endif %}

{% include "home/content.html" %}

{% endblock %}
